node_modules/
dist/
.env
.env.*
!.env.example
.DS_Store
*.log

# Frontend specific
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.*

# Backend specific
backend/node_modules/
backend/dist/
backend/.env
backend/.env.*